html {
	background: #ECE9E6;
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

* {
	font-family: "Lato", serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.formula {
	font-family: 'Patrick Hand', sans-serif;
}


// Color

.bg-gradient {
	background: $gradient;
}

.bg-board {
	background: $board;
}


input {
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&::-o-inner-spin-button {
		-o-appearance: none;
		margin: 0;
	}
}
