.modal-service {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 20;

	> div {
		position: relative;
		background-color: white;
		padding: 3rem;
		border-radius: 1rem;

		.svg-times {
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
	}
}

.modal-active {
	opacity: 1;
	visibility: visible;
}
